<div th:fragment="content">
    <a th:href="@{/create-form}" class="btn btn-warning"> Create Product</a>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each=" product: ${products}">
            <th scope="row">
                <img th:src="${product.getImage()}" height="200" width="200" class="img-thumbnail" alt="">
            </th>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
          
          </tr>
        </tbody>
      </table>
</div>